# server
LISTEN_HOST=0.0.0.0
LISTEN_PORT=4400
LISTEN_GRPC_PORT=4410
PUBLIC_HOST=localhost
PUBLIC_PORT=4410

# urls
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pleiades

# identity
NODE_ID_PATH=data/node-id

# byte storage
BYTE_STORAGE_ROOT_PATH=data/byte-storage

# authentication
JWT_TOKEN_SECRET=replace-with-a-secure-random-secret
JWT_TOKEN_TTL=30m

# admin authentication 
ADMIN_TOKEN_SECRET=replace-with-a-secure-random-secret

# grpc mtls
GRPC_CA_CERT_PATH=/path/to/ca-certificate.pem
GRPC_CERT_PATH=/path/to/master-node-certificate.pem
GRPC_PRIVATE_KEY_PATH=/path/to/master-node-private-key.pem
