# server
PORT=4400
GRPC_PORT=4410

# urls
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pleiades

# authentication
JWT_TOKEN_SECRET=replace-with-a-secure-random-secret
JWT_TOKEN_TTL=30m

# grpc mtls
GRPC_CA_CERT_PATH=/path/to/ca-certificate.pem
GRPC_CERT_PATH=/path/to/master-node-certificate.pem
GRPC_PRIVATE_KEY_PATH=/path/to/master-node-private-key.pem
